//VARIABLES (it musb be in the first position)
@use '../../MIXINS/Variables.scss' as *;

@mixin InputButton_A ($color: $InputbackColor_A, $width: $InputWidth) {
    background-color: $color;
    background-color: rgb(3, 46, 236);
    width: $width;
    height: 40px;

    position: absolute;
    top: 60%;
    left: 40%;
    
}

@mixin SendButton_B ($color: $InputbackColor_B, $width: $InputWidth ){
    background-color: $color;
    width: $width;
    height: 40px;

    
}