//VARIABLES (it musb be in the first position)
@use '../Variables' as *;

//MEDIA
@import '../MEDIA_QUERIES/MediaQueries.scss';



@mixin styles_phone () {
  border: 1px solid blue;
  
}

@mixin styles_tablets () {
  width: 100%;
  padding: 10px;
  
  border: 1px solid blue;
}

@mixin styles_desktop () {
  width: 100%;
  padding: 10px;

  border: 1px solid blue;
}




.layoutContainer{
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}