//VARIABLES (it musb be in the first position)
@use '../Variables.scss' as *;

//MEDIA
@import '../MEDIA_QUERIES/MediaQueries.scss';



@mixin styles_phone () {
  border: 1px solid yellow;

  ul{

    width: 100%;

    display: flex;
    justify-content: space-between;

    border: 1px solid green;

    a{

      text-decoration: none;
      color: red;

      border: 1px solid purple;

    }


  }

  
}

@mixin styles_tablets () {
  border: 1px solid blue;
  

  .active{
    background-color: coral;
    font-weight: bold;
  }
}

@mixin styles_desktop () {
  border: 1px solid red;
  font-size: 30px;

  
  ul{
   
    width: 50%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    border: 1px solid purple;
    a{
      
      text-decoration: none;
      display: flex;
      
    

    }
  }
  // Navbar.scss

   
  .active{
    color :red;
    font-weight: bold;
  }

  .logIn{
    border: 1px solid green;
  }

  .logOut{
    border: 1px solid red;
  }


  
}




.navbar{
  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}