//VARIABLES (it musb be in the first position)
@use '../../COMPONENTS/Variables.scss' as *;

@mixin InputButton_A () {
    background-color: $InputbackColor;
}

@mixin SendButton_B () {
    background-color: red;
    width: 160px;
    height: 40px;
}