//VARIABLES (it musb be in the first position)
@use '../../COMPONENTS/Variables.scss' as *;

//MEDIA
@import '../../COMPONENTS/MEDIA_QUERIES/MediaQueries.scss';



@mixin styles_phone () {
  border: 1px solid yellow;

  height: 30vh;
  
}

@mixin styles_tablets () {
  border: 1px solid blue;

  width: 100%;
  height: 50vh;
}

@mixin styles_desktop () {
  border: 1px solid red;

  width: 100%;
  height: 60vh;
}




.AnnouncementButton{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  

  text-align: center;
  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}