//VARIABLES (it musb be in the first position)
@use '../../MIXINS/Variables.scss' as *;

//MEDIA
@import '../../MIXINS/MEDIA_QUERIES/MediaQueries.scss';

@mixin useWrapperArticle () {
  

  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 400px;
  padding: 10px;

  border-radius: 15px solid rgb(65, 231, 14);
  background-color: rgb(196, 235, 186);
}

@mixin styles_phone () {
  border: 1px solid yellow;

  border: 1px solid rgb(6, 70, 245);
  background-color: rgb(229, 243, 149);

  .Wrapperarticle{
    /* @include useWrapperArticle(); */

    width: 100%;
    display: flex;
    flex-direction: column;

    .imageWrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      width: 100%;



      border: 1px solid rgb(88, 3, 245);
      background-color: orange;

      img{

        width: 100%;
        height: 150px;

        border: 1px solid purple;
      }

      p{
        text-align: center;

        width: 100%;
        height: auto;
        

        color: red;

        border: 1px solid rgb(45, 245, 5);
      }
    }
  }
  
}

@mixin styles_tablets () {

  border: 1px solid blue;
  background-color: rgb(160, 160, 235);

  .Wrapperarticle{
    @include useWrapperArticle();

    .imageWrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      width: 30%;


      border: 1px solid yellow;
      background-color: rgb(245, 245, 148);

      img{

        width: 100%;
        height: 50%;

        border: 1px solid purple;
      }

      p{
        text-align: center;

        width: 100%;
        height: 50%;

        color: red;

        border: 1px solid rgb(45, 245, 5);
      }
    }
  }

 
}

@mixin styles_desktop () {
  

  height: 70vh;
  padding: 20px;

  
  display: flex;
  flex-direction: column;
  
  align-items: center;

  border: 1px solid rgb(233, 31, 4);
  background-color: #f59f77;
  


  .Wrapperarticle{
    @include useWrapperArticle();

    .imageWrapper{
      display: flex;
      justify-content: space-between;
      
      width: 30%;
      height: auto;

      padding: 10px;

      border: 1px solid yellow;
      background-color: rgb(245, 245, 148);
      

      img{

        width: 50%;
        height: auto;

        border: 1px solid purple;
        background-color: orange;
      }

      p{
        text-align: center;

        width: 50%;

        color: red;

        border: 1px solid blue;
      }
    }
  }
}




.ContainerArticle{

 
  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}