//VARIABLES (it musb be in the first position)
@use '../../MIXINS/Variables.scss' as *;

//MEDIA
@import '../../MIXINS/MEDIA_QUERIES/MediaQueries.scss';

//mixins
@import '../../MIXINS/REUSABLE_MIXINS/1-Index.scss';




@mixin styles_phone () {


    display: flex;
    flex-direction: column;

    width: 100%;

    border: 1px solid rgb(233, 31, 4);
    background-color: #f59f77;

    .column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        padding: 5px;
        margin: 0 auto;
        width: 100%;

        border-radius: 15px solid rgb(65, 231, 14);
        background-color: rgb(196, 235, 186);
 

            
    }

    .clase1{
        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);
        

    }

    .clase2{
        width: 100%;
        padding: 5px;
    
        display: flex !important;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);
        
    };

    .clase3{

        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);

        .wrapperSocialMedia{
            figure{
                display: flex;
                justify-content: space-around;


            }
        }
    }

    .clase4{

        display: flex !important;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);


    }
  
  
 

  
}

@mixin styles_tablets () {


    display: flex;

    width: 100%;

    border-radius: 15px solid blue;
    background-color: rgb(135, 150, 240);

    .column{
        flex: 1; /* Hace que todas las columnas tengan el mismo ancho */
        justify-content: center;
        

        padding: 5px;
        margin: 0 auto;

        border-radius: 15px solid blue;
        background-color: rgb(135, 150, 240);

 

            
    }

    .clase1{
        border: 1px solid yellow;
        

    }

    .clase2{
        width: 100%;
        padding: 5px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 1px solid yellow;

        
    };

    .clase3{

        border: 1px solid yellow;

        .wrapperSocialMedia{
            figure{
                display: flex;
                justify-content: space-around;


            }
        }
    }

    .clase4{
        
        border: 1px solid yellow;

    }

  
} 

@mixin styles_desktop () {
    
    display: flex;

    width: 100%;

    border: 1px solid rgb(233, 31, 4);
    background-color: #f59f77;

    .column{
        flex: 1; /* Hace que todas las columnas tengan el mismo ancho */
        justify-content: center;
        

        padding: 5px;
        margin: 0 auto;

        border-radius: 15px solid rgb(65, 231, 14);
        background-color: rgb(196, 235, 186);
 

            
    }

    .clase1{
        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);
        

    }

    .clase2{
        width: 100%;
        padding: 5px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);
        
    };

    .clase3{

        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);

        .wrapperSocialMedia{
            figure{
                display: flex;
                justify-content: space-around;


            }
        }
    }

    .clase4{
        border: 1px solid yellow;
        background-color: rgb(245, 245, 148);


    }

}

Footer{
   
  
  .StyleButton_A{
    @include InputButton_A();
  }

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}